body {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2rem;
    padding: 0 3rem;
}


a { 
    display:flex;
    border: 1px solid navy;
    padding: 2rem;
    margin: 5px;
    text-decoration: none;
    justify-content: space between;
}

a:hover {
    background-color: #ffb300;
}

h2 {
    padding-top: 2rem;
    display:flex;
}

img {
    width: 100%;
}

.resimler {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 0;
}